<div class="cadastro-container" [ngClass]="{'dark-mode': isDarkMode}">
    <mat-card>
        <mat-card-title class="card-title">Cadastro</mat-card-title>
        <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" placeholder="Digite seu email">
                <mat-error *ngIf="cadastroForm.controls['email'].invalid">Por favor, insira um email válido</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput formControlName="password" type="password" placeholder="Digite sua senha">
                <mat-error *ngIf="cadastroForm.controls['password'].invalid">Senha é obrigatória</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirme a Senha</mat-label>
                <input matInput formControlName="confirmPassword" type="password" placeholder="Confirme sua senha">
                <mat-error *ngIf="cadastroForm.controls['confirmPassword'].invalid">Confirmação de senha é
                    obrigatória</mat-error>
            </mat-form-field>
            <div class="theme-toggle">
                <button mat-button (click)="toggleTheme()">Alternar Tema</button>
            </div>
            <button mat-raised-button color="primary" type="submit" [disabled]="cadastroForm.invalid">Cadastrar</button>
        </form>
    </mat-card>
</div>