<mat-toolbar class="header">
    <mat-icon class="title-icon">feedback</mat-icon>
    <span class="title">{{ title }}</span>
    <span class="spacer"></span>

    <!-- Menu para telas grandes -->
    <div class="desktop-menu">
        <a mat-button class="menu-button" href="/">
            <mat-icon>home</mat-icon> Home
        </a>
        <a mat-button class="menu-button" href="/about">
            <mat-icon>info</mat-icon> Sobre
        </a>
        <a mat-button class="menu-button" href="/contact">
            <mat-icon>contact_mail</mat-icon> Contato
        </a>
    </div>

    <!-- Botão do menu para telas pequenas -->
    <button mat-icon-button [matMenuTriggerFor]="mobileMenu" class="mobile-menu-button">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #mobileMenu="matMenu" class="mobile-menu">
        <button mat-menu-item (click)="navigateTo('/')">
            <mat-icon>home</mat-icon> Home
        </button>
        <button mat-menu-item (click)="navigateTo('/about')">
            <mat-icon>info</mat-icon> Sobre
        </button>
        <button mat-menu-item (click)="navigateTo('/contact')">
            <mat-icon>contact_mail</mat-icon> Contato
        </button>
    </mat-menu>
</mat-toolbar>
