/* Estilos globais */
html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #121212;
    /* Fundo escuro */
    color: #ffffff;
    /* Texto claro */
    transition: background-color 0.3s ease, color 0.3s ease;
}
